<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>

<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>

<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>

<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>

<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>

<article class="package-article">

    <div class="Departure-reach-pack">
        <h3>Departure</h3>
        <h3>------></h3>
        <h3>Reach</h3>
    </div>
    <div class="second-pack-main-div">

        <div class="img-div-pack">
            <img src="/images/hotels/logo2.jpg" alt="">
        </div>

        <div class="main-pack-info">
            <div class="info-pack-div-2">
                <div class="departure-info-pack">
                    <div>
                        <h4>Salida:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">hh:mm</p>
                    </div>
                    <section class="date-f"></section>
                    <div>
                        <h4>Llegada:</h4>
                        <p class="date-pack">dd/mm/aaaa</p>
                        <section class="line-f"></section>
                        <p class="hour-pack">A confirmar...</p>
                    </div>
                </div>
            </div>

            <div class="cabin-type">
                <h4>Tipo de Cabina:</h4>
                <p class="cabin">"Cabina tal"</p>
            </div>

            <div class="hotel-info-start">
                <h5>HOTEL</h5>
            </div>

            <div class="name-hotel-pack">
                <h3>Name</h3>
                <div class="service-hotel-pack">
                    <p>Stars</p>
                </div>
            </div>
            <div class="spot-hotel">
                <p>Spot</p>
            </div>

            <div class="info-pack-div-5">
                <p>$ 9999999</p>
                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
            </div>
        </div>
    </div>
</article>