<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>

        <%- include('../../partials/header') %>

            <main class="main-detail-flight">
                <section class="section-info">

                    <div class="carousel_detail-flight">
                        <img src="/images/flights/495536-lasvegas.webp" alt="">
                    </div>

                    <div class="detail-flight-info">
                        <div class="detail-flight-info-maininfo">
                            <div class="detail-flight-info-header">
                                <h3>Departure ---> Reach</h3>
                            </div>
                            <div class="detail-flight-info-data">
                                <div class="detail-flight-departure">
                                    <h4 class="detail-flight-h4">Salida:</h4>
                                    <p class="detail-flight-date">Date</p>
                                    <p class="detail-flight-hour">Hour</p>
                                </div>
                                <div class="detail-flight-reach">
                                    <h4 class="detail-flight-h4">Llegada:</h4>
                                    <p class="detail-flight-date">Date</p>
                                    <p class="detail-flight-hour">Hour</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="detail-flight-info">
                        <div class="detail-flight-info-title">
                            <h3>Informacion de la aerolinea</h3>
                        </div>

                        <div class="detail-flight-info-maininfo">
                            <div class="detail-flight-info-header">
                                <h3>Airline: "Airline"</h3>
                            </div>
                            <div class="detail-flight-info-data">
                                <div class="detail-flight-departure">
                                    <h5>Cabina: "Tal Cabina"</h5>
                                    <div class="detail-flight-description">
                                        <h5>Descripcion</h5>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Officiis minima maxime voluptatibus, magni delectus culpa, assumenda eum m
                                            inus deserunt enim nulla, quam debitis modi et perspiciatis sint consequatur
                                            sapiente praesentium.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="detail-package-separation">
                    <h2>Hotel</h2>
                </section>
                <section class="section-info">
                    <div class="detail-flight-info">
                        <div class="detail-flight-info-maininfo">
                            <div class="detail-flight-info-header">
                                <h3></h3>
                            </div>
                            <div class="detail-flight-info-data">
                                <div class="detail-flight-departure">
                                    <h4 class="detail-flight-h4">Hotel</h4>
                                    <p class="detail-flight-date">Nombre del hotel</p>
                                </div>
                                <div class="detail-flight-reach">
                                    <h4 class="detail-flight-h4">Ubicacion</h4>
                                    <p class="detail-flight-date">Ubicacion del Hotel</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="detail-flight-info">
                        <div class="detail-flight-info-title">
                            <h3>Informacion del servicio</h3>
                        </div>

                        <div class="detail-flight-info-maininfo">
                            <div class="detail-flight-info-header">
                                <h3> Estrellas</h3>
                                
                            </div>
                            <div class="detail-flight-info-data">
                                <div class="detail-flight-departure">
                                    <div >
                                    </div>
                                    <div class="detail-flight-description">
                                        <h5>Descripcion</h5>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Officiis minima maxime voluptatibus, magni delectus culpa, assumenda eum m
                                            inus deserunt enim nulla, quam debitis modi et perspiciatis sint consequatur
                                            sapiente praesentium.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="detail-flight-button-section">
                    <button class="detail-flight-button btn-df-edit">Editar</button>
                    <button class="detail-flight-button btn-df-delete">Eliminar</button>
                    <div class="detail-flight-button-buy">
                        <p>Price: $999999</p>
                        <button class="detail-flight-button btn-df-buy">Comprar</button>
                    </div>
                </section>
            </main>

            <%- include('../../partials/footer') %>

    </body>

</html>