/* FONT */
/*
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif; (bold: 200, 400 y 600)
*/
/* COLORS */
/*
.color1 {color: #c2bc9c;}
.color2 {color: #d5d7bb;}
.color3 {color: #212954;}
.color4 {color: #304a73;}
.color5 {color: #b0b7c7;} 
*/
* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

/****** ERROR ******/
.error-msg {
    margin-top: 2%;
    margin-bottom: 0;
    color: red;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: start;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.password-set-register{
    margin: 2% 0 0%;
    width: 100%;
    color: red;
}

/****** ERROR END ******/
/****** HEADER ******/
header {
    width: 100%;
    background-color: #304a73;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 6;
}

/*LOGO*/

.div-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-logo a {
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 100%;
    height: 100%;
}

/*nav*/
.div-pages {
    width: 75%;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.div-pages ul {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.div-pages ul li {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pages ul li:hover a {
    font-weight: 600;
    text-decoration: underline;
}

.div-pages ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 1% 2% 1% 2%;
}

.header-select {
    font-size: 16px;
    background-color: #304a73;
    color: white;
    border: none;
    cursor: pointer;
}

.header-select:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
}

.header-select option {
    background-color: grayz;
    cursor: pointer;
}

.div-links {
    width: 10%;
    display: none;
    justify-content: flex-end;
    align-items: center;

}

.div-i-1,
.div-i-2 {
    width: 50%;
    display: flex;
}

.div-links div a i:hover {
    font-size: 35px;
}

.div-links div a i {
    font-size: 30px;
    color: white;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.burger-menu a i {
    color: white;
    font-size: 30px;
}

@media (min-width: 768px) {
    .main-select {
        width: 25%;
    }

    #carouselExampleDark {
        height: 40vh;
    }

    .desplegable-div {
        display: none;
    }

    .articles-title {
        font-size: 40px;
    }

    /*HEADER*/

    .div-logo {
        width: 15%;
    }


    /*nav*/
    .div-pages {
        display: flex;

    }

    .div-links {
        display: flex;
    }

    .burger-menu {
        display: none;
    }

}

@media (min-width: 841px) {
    .div-pages ul li a {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .div-pages ul li a {
        font-size: 20px;
    }

    .div-links div a i:hover {
        font-size: 45px;
    }

    .div-links div a i {
        font-size: 40px;
    }

    .articles-title {
        font-size: 50px;
    }
}

/****** HEADER END ******/
/****** INDEX ******/

/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b0b7c7;
}

/*TOP*/
.section-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.div-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.busca-paquete {
    display: flex;
    align-items: flex-end;
}

/*SECTION-SEARCH*/


.busca-paquete h4 {
    margin-left: 2%;
    background-color: white;
}

.div-filters {
    display: flex;
    flex-direction: column;
}

.main-select {
    width: 60%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.main-select select {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: none;
}

/*NAV-GAPS*/

.nav-gaps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-origen-destino,
.div-ida-vuelta {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.div-destino,
.div-vuelta {
    margin-top: 2%;
}

.div-origen,
.div-destino,
.div-ida,
.div-vuelta {
    display: flex;
    flex-direction: column;
}

.main-input {
    width: 60%;
    height: 2em;
    margin-left: 2%;
    border: black 1px solid;
    border-radius: 5px;
}

.main-input:focus {
    height: 2.3em;
    width: 62%;
    border: #1f53c5 3px solid;
}

.main-label {
    margin-bottom: 2%;
    margin-left: 2%;
}

.div-search {
    width: 100%;
    text-align: center;
}

.div-search button {
    width: 30%;
    cursor: pointer;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
    font-size: 16px;
}

.div-search button:hover {
    box-shadow: 0 0 30px rgb(100, 100, 100);
    font-weight: 600;
}

.btn-primary {
    width: 135px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .main-select {
        width: 25%;
    }

    /*MAIN*/

    .section-nav {
        width: 80%;
        border-radius: 20px;
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    .busca-paquete {
        display: flex;
        font-size: 14px;
    }

    .busca-paquete h4 {
        margin-left: 10%;
        height: 30px;
        width: 300px;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        bottom: 15px;
        background-color: white;
        text-align: center;
        border-radius: 20px;
    }

    .div-filters {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 4%;
    }

    .div-origen-destino,
    .div-ida-vuelta {
        width: 40%;
    }

    .div-search {
        margin-top: 20px;
    }

    .div-origen,
    .div-destino {
        display: flex;
    }

    .div-destino,
    .div-vuelta {
        margin-top: 5%;
    }

    /*ARTICLES*/
    .main-article {
        width: 40%;
    }

}

@media (min-width: 1024px) {
    main {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .main-select {
        width: 20%;
    }

    .main-article {
        width: 20%;
    }
}

/****** INDEX END ******/
/****** FOOTER ******/
footer {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container_footer {
    max-width: 1170px;
    margin: auto;
}

.row_footer {
    display: flex;
    flex-wrap: wrap;
}

.item {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #304a73;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-footer {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/****** FOOTER END ******/
/****** REGISTER ******/
.form-register {
    width: 100%;
    background: #24303c;
    padding: 2%;
    color: white;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.main-register-from-top-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.register-form-i {
    width: 50%;
    display: flex;
    justify-content: end;
}

.main-register-from-top-1 input {
    margin: 2% 0;
    cursor: pointer;
}

#admin {
    background-color: #24303c;
    color: white;
    border: #1f53c5 solid 1px;
    border-radius: 5px;
    margin-left: 2%;
    padding: 1%;
}

.controls-register {
    width: 90%;
    background: #24303c;
    padding: 3%;
    border-radius: 4px;
    margin: 3%;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.from-register-p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}


.form-register a {
    color: white;
    text-decoration: none;
}

.boton-register {
    display: flex;
    justify-content: center;
}

.form-register .boton-register .botons-register {
    width: 30%;
    cursor: pointer;
    background: #1f53c5;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.form-register .boton-register .botons-register:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
}


@media (min-width: 768px) {
    .register-top {
        display: flex;
        justify-content: space-around;
    }

    .input-div {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .register-middle {
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
    }

    .age-type {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    #admin {
        margin-top: 6%;
    }

    .register-end {
        display: flex;
        justify-content: space-around;
    }

    .botons-register {
        margin-top: 2%;
        width: 20%;
        height: 3rem;
        font-size: 26px;
    }

}

/***** REGISTER END ******/
/****** LOGGIN ******/

.form-login {
    width: 100%;
    background: #24303c;
    padding: 2%;
    color: white;
}


.form-login h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-login p {
    text-align: center;
    font-size: 16px;
}

.form-login a {
    color: white;
    text-decoration: none;
}

.form-login a:hover {
    color: white;
    text-decoration: underline;
}

.form-login .botons {
    width: 100%;
    cursor: pointer;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
    font-size: 16px;
}

.form-login .botons:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
}


@media (min-width: 400px) {
    .form-login {
        width: 100%;
        background: #24303c;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 4px;
        box-shadow: 7px 13px 37px #000;
    }

    .form-login {
        width: 400px;
    }
}

/****** LOGGIN END ******/
/****** CHOOSE ******/
.main-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #24303c;
    height: 90vh;
}

.choose-main-div {
    background: #24303c;
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.choose-title {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.choose-title h3 {
    color: white;
}

.choose-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.choose-options a {
    background-color: #1f53c5;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    width: 40%;
    text-align: center;
    font-size: 22px;
    padding: 1% 0;
}

.choose-options a:hover {
    font-weight: 600;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

@media (min-width: 768px) {
    .main-choose {
        background-color: #b0b7c7;
    }

    .choose-main-div {
        height: 30vh;
        width: 50%;
        margin: 5% 0;
        box-shadow: 0 0 50px rgb(100, 100, 100);
    }

    .choose-options {
        flex-direction: row;
        height: 50%;
    }

}


/****** CHOOSE END ******/

/****** PROFILE ******/

.main-profile-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-profile {
    width: 80%;
    margin-top: 2%;
    text-align: center;
    border-bottom: #24262b 1px solid;
}

.img-profile img {
    width: 70%;
    height: 100%;
    border-radius: 100px;

}

.main-info-profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.main-info-profile div {
    border-bottom: #24262b 1px solid;
    width: 100%;

}

.ageType-profile {
    display: flex;
}

.age,
.type {
    width: 50%;
}

.button-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.edit-button-profile {
    margin-top: 5%;
    text-decoration: none;
    color: white;
    background-color: #1f53c5;
    width: 50%;
    height: 2em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-button-profile:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.loggout-button-profile {
    margin-top: 5%;
    color: white;
    background-color: #1f53c5;
    width: 50%;
    height: 2em;
    text-align: center;
    font-size: 22px;
}

.loggout-button-profile button {
    color: white;
    background-color: #1f53c5;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.loggout-button-profile button:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.delete-button-profile {
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 50%;
    height: 2em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.delete-button-profile:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

@media (min-width: 768px) {
    .main-profile-div {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .img-profile {
        width: 50%;
        border-bottom: none;
    }

    .main-info-profile {
        width: 50%;
    }

    .button-profile {
        flex-direction: row;
    }

    .edit-button-profile,
    .loggout-button-profile,
    .delete-button-profile {
        width: 30%;
        font-size: 22px;
        margin-bottom: 5%;
    }

}

/****** PROFILE END ******/
/****** EDITUSER ******/
.main-profile-div-EDIT {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-profile-EDIT {
    width: 80%;
    margin-top: 2%;
    text-align: center;
}

.img-profile-EDIT label {
    cursor: pointer;
}

.img-profile-EDIT label p {
    display: none;
    color: black;
    font-weight: 600;
}

.img-profile-EDIT label:hover {
    width: 90%;
}

.img-profile-EDIT label:hover p {
    display: block;
}

.img-profile-EDIT img {
    width: 70%;
    height: 100%;
    border-radius: 100px;
}

.img-profile-EDIT input {
    display: none
}

.main-info-profile-EDIT {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.name-edit,
.surname-edit,
.email-edit {
    border-bottom: #24262b 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.name-edit input,
.surname-edit input,
.email-edit input {
    margin-top: 5%;
    margin-bottom: 2%;
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.name-edit label,
.surname-edit label,
.email-edit label {
    margin-top: 2%;
}

.button-profile-edit {
    margin: 5% 2% 5% 0;
    text-align: center;
    color: white;
    width: 100%;
    height: 2em;
}

.button-profile-edit button {
    color: white;
    background-color: #1f53c5;
    width: 40%;
    cursor: pointer;
    height: 100%;
    text-align: center;
    font-size: 22px;
    border: none;
}

.button-profile-edit button:hover {
    font-weight: 600;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

@media (min-width: 768px) {
    .main-profile-div-EDIT {
        flex-direction: row;
    }
}

/****** EDITUSER END ******/
/****** DELETECONFIRMUSER ******/
.main-deleteConfirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b0b7c7;
}

.delete-confirm p {
    margin-top: 0;
    color: white;
}

.delete-confirm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.delete-confirm h3 {
    width: 100%;
    text-align: center;
    color: white;
}

.delete-confirm div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.delete-confirm div a {
    background-color: #1f53c5;
    color: white;
    text-decoration: none;
    width: 40%;
    text-align: center;
    font-size: 22px;
    padding: 1% 0;
    text-decoration: none;
}

.delete-confirm div a:hover {
    font-weight: 600;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.delete-confirm div button {
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    cursor: pointer;
    background-color: red;
    width: 40%;
    padding: 1% 0;
    text-align: center;
    font-size: 22px;
    border: none;
}

.delete-confirm div button:hover {
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

/****** DELETECONFIRMUSER END ******/

/****** CHOOSECREATE ******/
.main-chooseCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #24303c;
    height: 90vh;
}

.chooseCreate-main-div {
    background: #24303c;
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chooseCreate-title {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.chooseCreate-title h3 {
    color: white;
}

.chooseCreate-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.chooseCreate-options a {
    background-color: #1f53c5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 40%;
    text-align: center;
    font-size: 22px;
    padding: 1% 0;
}

.chooseCreate-options a:hover {
    font-weight: 600;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

@media (min-width: 768px) {
    .main-chooseCreate {
        background-color: #b0b7c7;
    }

    .chooseCreate-main-div {
        height: 30vh;
        width: 50%;
        margin: 5% 0;
        box-shadow: 0 0 50px rgb(100, 100, 100);

    }

    .chooseCreate-options a {
        width: 25%;
    }

    .chooseCreate-options {
        flex-direction: row;
        height: 50%;
    }
}


/****** CHOOSECREATE END ******/
/****** ARTICLEFLIGHT ******/

.main-flights {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-flight {
    cursor: pointer;
    width: 80%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.article-flight:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.img-flight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}

.img-flight img {
    height: 100%;
}

.info-flight-div {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.info-flight-div div {
    width: 100%;
    display: flex;
}

.info-flight-div-1 {
    justify-content: space-around;
}

.info-flight-div-2 {
    flex-direction: column;
}

.info-flight-div-2 h4 {
    margin-bottom: 0;
}

.departure-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date-f {
    border-right: #000 1px solid;
}

.departure-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

.departure-info div h4 {
    align-self: self-start;
    margin: 0;
}

.departure-info div p {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.date {
    margin-top: 4%;
    margin-bottom: 2%;

}

.line-f {
    width: 75%;
    border-top: #000 1px solid;
}

.hour {
    margin-top: 2%;
}

.cabin-type {
    display: flex;
}

.cabin-type h4 {
    font-size: 14px;
}

.cabin-type p {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.info-flight-div-5 {
    justify-content: space-between;
}

.info-flight-div-5 p {
    margin: 0;
    width: 50%;
    font-size: 22px;
}

.info-flight-div-5 a {
    text-decoration: none;
    margin-bottom: 2%;
    margin-right: 2%;
}

.info-flight-div-5 a i {
    color: #304a73;
    font-size: 30px;
}

.add-cart-flight:hover {
    color: #1f53c5;
}



@media (min-width: 500px) {
    .article-flight {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .article-flight {
        width: 80%;
        /* height: 300px; */
        height: 40%;
        flex-direction: row;
    }

    .info-flight-div {
        margin-left: 2%;
        justify-content: space-between;
        margin-bottom: 0
    }

    .info-flight-div-5 p,
    .info-flight-div-5 a {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0%;
    }

}

/****** ARTICLEFLIGHT END ******/

/****** ARTICLEHOTEL ******/
.main-div-hotel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-article-hotel {
    padding: 2%;
    margin: 2% 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    transition: all 0.2s;
}

.main-article-hotel:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.hotel-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hotel-img img {
    width: 100%;
    height: 100%;
}

.name-hotel {
    display: flex;
    justify-content: space-between;
}

.service-hotel {
    background-color: #b0b7c7;
    border-radius: 9px;
    height: fit-content;
    padding: 2%;
    position: relative;
    bottom: 20px;
}

.service-hotel p {
    margin: 0;
}

.spot-hotel p {
    margin: 0;
}

.price-hotel {
    display: flex;
    justify-content: space-between;
    margin-top: 2%
}

.price-hotel p {
    margin: 0;
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.price-hotel a {
    text-decoration: none;
    margin-bottom: 2%;
    margin-right: 2%;
}

.price-hotel a i {
    color: #304a73;
    font-size: 30px;
}

.add-cart-flight:hover {
    color: #1f53c5;
}

@media (min-width: 331px) {
    .main-article-hotel {
        width: 265px;
        margin: 3% 3%;
    }

    .main-div-hotel {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media (min-width: 768px) {
    .main-article-hotel {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .main-article-hotel {
        width: 20%;
        margin: 3% 1%;
    }
}

/****** ARTICLEHOTEL END ******/
/****** ARTICLEPACKAGE ******/
.main-packages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-article {
    cursor: pointer;
    width: 80%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.package-article:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.Departure-reach-pack {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Departure-reach-pack h3 {
    font-size: 16px;
    margin: 1% 0;
}

.second-pack-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img-div-pack {
    width: 100%;
    margin-bottom: 2%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div-pack img {
    width: 100%;
}

.main-pack-info {
    width: 100%;
}

.info-pack-div-2 {
    width: 100%;
    flex-direction: column;
}

.info-pack-div-2 h4 {
    margin-bottom: 0;
}

.departure-info-pack {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.departure-info-pack div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

.departure-info-pack div h4 {
    align-self: self-start;
    margin: 0;
}

.departure-info-pack div p {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.date-pack {
    margin-top: 4%;
    margin-bottom: 2%;

}

.hour-pack {
    margin-top: 2%;
}

.hotel-info-start {
    text-align: center;
    font-weight: 600;
    border-top: #000 1px dashed;
    font-size: 18px;
}

.hotel-info-start h5 {
    margin-top: 3%;
}

.name-hotel-pack {
    display: flex;
    justify-content: space-between;
}

.name-hotel-pack h3 {
    margin: 0;
}

.service-hotel-pack {
    background-color: #b0b7c7;
    border-radius: 9px;
    height: fit-content;
    padding: 2%;
}

.service-hotel-pack p {
    margin: 0;
}

.info-pack-div-5 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-pack-div-5 p {
    margin: 0;
    width: 50%;
    font-size: 22px;
}

.info-pack-div-5 a {
    text-decoration: none;
    margin-bottom: 2%;
    margin-right: 2%;
}

.info-pack-div-5 a i {
    color: #304a73;
    font-size: 30px;
}

@media (min-width: 500px) {
    .package-article {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .package-article {
        width: 80%;
        height: 40%;
    }

    .Departure-reach-pack {
        border-bottom: #000 1px solid;
        margin-bottom: 3%;
    }

    .second-pack-main-div {
        flex-direction: row;
    }

    .main-pack-info {
        margin-left: 2%;
        justify-content: space-between;
        margin-bottom: 0
    }

    .img-div-pack img {
        width: fit-content;
        height: 100%;
    }

    .info-pack-div-5 p,
    .info-pack-div-5 a {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0%;
    }

}

/****** ARTICLEPACKAGE END ******/
/****** CREATEFLIGHT ******/

.crate-flight {
    width: 100%;
    background: #24303c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-createFlight-top {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    align-items: center;
}

.form-createFlight-top-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-createFlight-top-1 input {
    display: none;
}

.add-img-label-flight {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.form-createFlight-top-1 label {
    color: #ffffff;
    margin: 2%;
}

.form-createFlight-top-1 label i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.form-createFlight-top-1 label i:hover {
    color: #1f53c5;
    font-size: 34px;
}

.form-createFlight-top-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-createFlight-top-2-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-createFlight-inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-createFlight-input {
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-createFlight-inputDiv select {
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-createFlight-inputDiv label {
    margin: 2% 0;
    color: white
}

.form-createFlight-bottom {
    padding: 2%;
}

.form-createFlight-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mary {
    width: 30%;
    cursor: pointer;
    background: #1f53c5;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.mary:hover {
    box-shadow: 0 0 30px rgb(100, 100, 100);
    font-weight: 600;
}

@media (min-width: 768px) {

    .form-createFlight-top-1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .form-createFlight-top-1 label {
        display: flex;
        justify-content: flex-start;
        width: 40%;
    }

    .form-createFlight-top-1 label i {
        color: white;
        font-size: 40px;
    }

    .form-createFlight-top-1 label i:hover {
        color: #1f53c5;
        font-size: 34px;
    }

    .form-createFlight-top-2-div {
        flex-direction: row;
        justify-content: space-around;
        margin: 2% 0;
    }

    .form-createFlight-inputDiv {
        width: 40%;
    }

    .mary {
        width: 20%;
        height: 3rem;
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .form-createFlight-top-1 label i {
        color: white;
        font-size: 50px;
    }

    .form-createFlight-top-1 label i:hover {
        color: #1f53c5;
        font-size: 54px;
    }

    .form-createFlight-top-1 label {
        width: 20%;
    }

}

/****** CREATEFLIGHT END ******/
/****** CREATEHOTEL ******/

.crate-hotel {
    width: 100%;
    background: #24303c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}


.create-hotel-top {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    align-items: center;
}

.create-hotel-top-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-hotel-create {
    display: none;
}

.add-img-label-hotel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.create-hotel-top-1 label {
    color: #ffffff;
}

.crate-hotel-img-i {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-hotel-top-1 label i {
    color: white;
    font-size: 45px;
    cursor: pointer;
    margin-top: 2%;
}

.create-hotel-top-1 label i:hover {
    color: #1f53c5;
    font-size: 34px;
}

.create-hotel-top-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.crate-hotel-top-2 section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-hotel-inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.create-hotel-label {
    color: white;
}

.create-hotel-input {
    margin: 1%;
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}



.create-hotel-service select {
    width: 100%;
    margin: 1%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;

}

.crate-hotel-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.crate-hotel-button button {
    width: 30%;
    cursor: pointer;
    background: #1f53c5;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.crate-hotel-button button:hover {
    box-shadow: 0 0 30px rgb(100, 100, 100);
    font-weight: 600;
}

@media (min-width: 768px) {

    .create-hotel-top-1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .create-hotel-top-1 label {
        display: flex;
        justify-content: flex-start;
        width: 40%;
    }

    .create-hotel-top-1 label i {
        color: white;
        font-size: 40px;
    }

    .create-hotel-top-1 label i:hover {
        color: #1f53c5;
        font-size: 34px;
    }

    .create-hotel-name-spot,
    .create-hotel-service {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2% 0;
    }

    .create-hotel-name-spot div,
    .create-hotel-service div {
        width: 45%;
    }


    .form-createFlight-inputDiv {
        width: 40%;
    }

    .crate-hotel-button button {
        width: 20%;
        height: 3rem;
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .create-hotel-top-1 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .create-hotel-top-1 label {
        display: flex;
        width: 20%;
        justify-content: center;
    }

    .create-hotel-top-1 label i {
        color: white;
        font-size: 50px;
    }

    .create-hotel-top-1 label i:hover {
        color: #1f53c5;
        font-size: 54px;
    }

    .fa-solid {
        margin-top: 2%;
    }
}


/****** CREATEHOTEL END ******/

/****** CREATEPACKAGE ******/

.crate-package {
    width: 100%;
    background: #24303c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.create-package-discount {
    width: 100%;
    display: flex;
    padding-bottom: 2%;
    border-bottom: #1f53c5 1px dashed;
}

.create-package-discount label {
    color: white;
    display: flex;
    align-items: center;
}

.create-package-discount input {
    width: 50%;
    background: #24303c;
    margin-left: 5%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.create-package-main-div section {
    display: flex;
    flex-direction: column;
}

.section-pack-2 {
    border-top: 1px solid #1f53c5;

}

.create-package-main-div section h2 {
    width: 100%;
    text-align: center;
    color: white
}

.create-package-main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-package-hotel {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    align-items: center;
}

.create-package-flight {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    align-items: center;
}


@media (min-width: 1000px) {
    .create-package-main-div {
        flex-direction: row;
    }

    .create-package-main-div section {
        width: 50%;
    }

    .section-pack-2 {
        border-left: #1f53c5 solid 1px;
        border-top: none;
    }
}


/* flight */

.form-pack-flight-top-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-pack-flight-top-1 input {
    display: none;
}

.add-img-label-pack-flight {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.form-pack-flight-top-1 label {
    color: #ffffff;
    margin: 2%;
}

.form-pack-flight-top-1 label i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.form-pack-flight-top-1 label i:hover {
    color: #1f53c5;
    font-size: 34px;
}

.form-pack-flight-top-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-pack-flight-top-2-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-pack-flight-inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-pack-flight-input {
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-pack-flight-inputDiv select {
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-pack-flight-inputDiv label {
    margin: 2% 0;
    color: white
}

.form-pack-flight-bottom {
    padding: 2%;
}

.form-pack-flight-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hotel */

.pack-hotel-top-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-pack-hotelv {
    display: none;
}

.add-img-label-pack-hotel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.pack-hotel-top-1 label {
    color: #ffffff;
}

.pack-hotel-img-i {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pack-hotel-top-1 label i {
    color: white;
    font-size: 45px;
    cursor: pointer;
    margin-top: 2%;
}

.pack-hotel-top-1 label i:hover {
    color: #1f53c5;
    font-size: 34px;
}

.pack-hotel-top-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pack-hotel-top-2 section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pack-hotel-inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.pack-hotel-label {
    color: white;
}

.pack-hotel-input {
    margin: 1%;
    width: 100%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}



.pack-hotel-service select {
    width: 100%;
    margin: 1%;
    background: #24303c;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;

}

.pack-hotel-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pack-hotel-button button {
    width: 30%;
    margin-top: 3%;
    cursor: pointer;
    background: #1f53c5;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.pack-hotel-button button:hover {
    box-shadow: 0 0 30px rgb(100, 100, 100);
    font-weight: 600;
}

/****** CREATEPACKAGE END ******/
/****** DETAILFLIGHT ******/
.section-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_detail-flight {
    margin-bottom: 0;
    width: 100%;
}

.carousel_detail-flight img {
    width: 100%;
}

.detail-flight-info {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-flight-info-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
}

.detail-flight-info-maininfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-flight-info-header {
    background-color: #1f53c5;
    display: flex;
    justify-content: center;
}

.detail-flight-info-header h3 {
    color: white;
}

.detail-flight-info-data {
    background-color: white;
    display: flex;
}

.detail-flight-departure,
.detail-flight-reach {
    width: 100%;
    padding: 2%;
}

.detail-flight-departure h5 {
    margin-top: 0;
}

.detail-flight-h4 {
    width: 100%;
    margin: 0;
}

.detail-flight-date {
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: #000 1px solid;

}

.detail-flight-hour {
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: #000 1px solid;
}

.detail-flight-airline-info {
    width: 100%;
}

.detail-flight-button-section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.btn-df-edit,
.btn-df-delete {
    margin-top: 2%;
}

.btn-df-edit {
    margin-bottom: 2%;
}

.detail-flight-button-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.detail-flight-button-buy p {
    width: 30%;
    margin: 2%;
}

.btn-df-edit,
.btn-df-buy {
    width: 30%;
    cursor: pointer;
    background: #1f53c5;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.btn-df-delete {
    width: 30%;
    cursor: pointer;
    background: red;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
}

.btn-df-edit:hover,
.btn-df-buy:hover,
.btn-df-delete:hover {
    box-shadow: 0 0 30px rgb(100, 100, 100);
    font-weight: 600;
}

@media (min-width: 768px) {

    .detail-flight-button {
        width: 20%;
        height: 3rem;
        font-size: 26px;
    }

    .detail-flight-button-section {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        margin: 2% 0;
    }

    .detail-flight-button-buy {
        width: 30%;
    }

    .detail-flight-button-buy p {
        width: 100%;
        margin: 2%;
    }

    .btn-df-edit,
    .btn-df-buy,
    .btn-df-delete {
        margin: 0;
    }

    .btn-df-buy {
        width: 100%;
    }
}

@media (min-width: 768px) {

    .detail-flight-info,
    .detail-flight-airline-info {
        width: 90%;
    }

    .detail-flight-info-header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .detail-flight-info-data {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (min-width: 1024px) {

    .detail-flight-info-title h3,
    .detail-flight-info-header h3,
    .detail-flight-h4,
    .detail-flight-date,
    .detail-flight-hour,
    .detail-flight-departure h5,
    .detail-flight-description h5,
    .detail-flight-description p,
    .btn-df-edit,
    .btn-df-buy,
    .btn-df-delete,
    .detail-flight-button-buy p {
        font-size: 26px;
    }

}

/* DETAILHOTEL (has same css) */
/* DETAILPACKAGE (has same css) */
.detail-package-separation {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: #000 2px dashed;
    margin-top: 2%;
}

.detail-package-separation h2 {
    font-size: 24px;
    margin: 2%;
}

@media (min-width: 768px) {
    .detail-package-separation h2 {
        font-size: 30px;
    }
}

/****** DETAILFLIGHT END ******/
/****** CART ******/
.cart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b0b7c7;
}

/* Flights */

.cart-flight-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: grey 1px solid;
}

.cart-flight-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-article-flight-div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.cart-article-flight {
    cursor: pointer;
    width: 80%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.cart-article-flight:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-flight {
    width: 80%;
    display: flex;
}

.cart-add-subtract-item-f {
    width: 60%;
    display: flex;
    align-items: center;
}

.cart-add-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-f i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-f i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-f i:hover,
.cart-subtract-item-f i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-f {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-f p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-f p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-f p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

/* Hotels */

.cart-hotel-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: grey 1px solid;
}

.cart-hotel-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-hotel-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.cart-article-hotel-div {
    width: 80%;
}

.cart-article-hotel {
    padding: 2%;
    margin: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    transition: all 0.2s;
}

.cart-article-hotel:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-hotel {
    width: 100%;
    display: flex;
}

.cart-add-subtract-item-h {
    width: 60%;
    display: flex;
    align-items: center;
}

.cart-add-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-h i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-h i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-h i:hover,
.cart-subtract-item-h i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-h {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-h p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-h p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-h p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

/* Package */

.cart-package-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-package-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-package-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-article-package-div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cart-package-article {
    cursor: pointer;
    width: 100%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.cart-package-article:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-package {
    width: 100%;
    display: flex;
}

.cart-tools-package-top {
    width: 60%;
}

.cart-tools-package-specification {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-add-subtract-item-p {
    /* width: 60%; */
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-add-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-p i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-p i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-h i:hover,
.cart-subtract-item-p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-p {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-p p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-p p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-p p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.cart-flight-section,
.cart-hotel-section {
    padding-bottom: 2%;
}

/* Buttons */
.cart-button-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

.cart-total {
    width: 100%;
    padding: 3%;
    border-top: 1px solid grey;
    display: flex;
}

.cart-total p {
    font-size: 28px;
    margin: 0 2%;
}

.cart-total-numb {
    border-bottom: #000 1px dashed;
}

.cart-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-button-buy {
    margin: 1%;
    color: white;
    background-color: #1f53c5;
    width: 60%;
    height: 2em;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.cart-button-buy:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.cart-button-delete {
    margin: 1%;
    color: white;
    background-color: red;
    width: 60%;
    height: 2em;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.cart-button-delete:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

@media (min-width: 500px) {
    .cart-article-flight {
        width: 400px;
    }

    .cart-tools-flight {
        width: 400px;
    }

    .cart-article-hotel-div {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .cart-article-flight {
        width: 80%;
        height: 40%;
        flex-direction: row;
    }

    .cart-tools-flight {
        width: 10%;
        flex-direction: column;
        align-items: center;
    }

    .cart-article-flight-div {
        flex-direction: row;
        justify-content: space-around;
        padding-right: 2%;
        width: 100%;
    }

    .cart-add-subtract-item-f {
        width: 100%;
    }

    .cart-delete-item-f {
        width: 80%;
    }

    .cart-add-item-f i {
        padding: 5%;
        border-radius: 20px;
        font-size: 30px;
    }

    .cart-subtract-item-f i {
        padding: 5%;
        border-radius: 20px;
        font-size: 30px;
    }

    .cart-add-item-f i:hover,
    .cart-subtract-item i:hover {
        font-size: 34px;
    }


    .cart-delete-item-f p i {
        padding: 10%;
        border-radius: 30px;
        font-size: 26px;
    }

    .cart-delete-item-f p i:hover {
        font-size: 34px;
    }

    /* Hotels */
    .cart-article-hotel-div {
        width: 400px;
    }

    .cart-hotel-div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Package */
    .cart-article-package-div {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
    }

    .cart-package-article {
        width: 80%;
    }

    .cart-tools-package {
        width: 10%;
        flex-direction: column;
    }

    .cart-tools-package-top {
        width: 100%;
    }

    .cart-tools-package-specification {
        width: 100%;
    }

    .cart-delete-item-p {
        width: 100%;
    }

    /* Buttons */
    .cart-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .cart-button-buy {
        width: 30%;
    }

    .cart-button-delete {
        width: 30%;
    }

}



/****** CART END ******/