<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>

        <%- include('../../partials/header') %>

            <main>
                <form action="" method="POST" enctype="multipart/form-data" class="crate-package">

                    <div class="create-package-discount">
                        <label for="discount">Ingrese el descuento (%):</label>
                        <input type="number" name="discount" id="discount">
                    </div>
                    <div class="create-package-main-div">
                        <section>
                            <h2>Vuelo</h2>
                            <div class="create-package-flight">

                                <div class="form-pack-flight-top-1">
                                    <input type="file" id="input-flight-create" name="productFile" required>
                                    <label class="add-img-label-pack-flight" for="input-flight-create">Ingrese una foto
                                        del producto:</label>
                                    <label for="input-flight-create"><i class="fa-solid fa-image"></i></label>
                                </div>
                                <div class="form-pack-flight-top-2">

                                    <div class="form-pack-flight-top-2-div">
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="airline">Aerolinea:</label>
                                            <input class="form-pack-flight-input" type="text" id="airline"
                                                name="airline" placeholder="Aerolinea">
                                        </div>
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="description">Descripcion:</label>
                                            <input class="form-pack-flight-input" type="text" id="description"
                                                name="description" placeholder="Descripcion">
                                        </div>
                                    </div>

                                    <div class="form-pack-flight-top-2-div">
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="departure"><i
                                                    class="fa-solid fa-plane-departure"></i></label>
                                            <input class="form-pack-flight-input" type="text" id="departure"
                                                name="departure" placeholder="Origen">
                                        </div>
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="reach"><i
                                                    class="fa-solid fa-location-dot"></i></label>
                                            <input class="form-pack-flight-input" type="text" id="reach" name="reach"
                                                placeholder="Destino">
                                        </div>
                                    </div>

                                    <div class="form-pack-flight-top-2-div">
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="departureDate">Fecha de
                                                ida</label>
                                            <input class="form-pack-flight-input" type="date" id="departureDate"
                                                name="departureDate">
                                        </div>
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="reachDate">Fecha de
                                                vuelta</label>
                                            <input class="form-pack-flight-input" type="date" id="reachDate"
                                                name="reachDate">
                                        </div>
                                    </div>

                                    <div class="form-pack-flight-top-2-div">

                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="departureHour">Hora de
                                                salida</label>
                                            <input class="form-pack-flight-input" type="time" id="departureHour"
                                                name="departureHour">
                                        </div>
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="reachHour">Hora de
                                                llegada</label>
                                            <input class="form-pack-flight-input" type="time" id="reachHour"
                                                name="reachHour">
                                        </div>

                                    </div>

                                    <div class="form-pack-flight-top-2-div">

                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="cabin.">Tipo de cabina:</label>
                                            <select name="cabin" id="cabin">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="form-pack-flight-inputDiv">
                                            <label class="form-pack-flight-label" for="price">Precio:</label>
                                            <input class="form-pack-flight-input" type="number" id="price" name="price">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </section>
                        <section class="section-pack-2">
                            <h2>Hotel</h2>
                            <div class="create-package-hotel">
                                <div class="form-pack-flight-top-1">
                                    <input type="file" id="input-flight-create" name="productFile" required>
                                    <label class="add-img-label-pack-flight" for="input-flight-create">Ingrese una foto
                                        del
                                        producto:</label>
                                    <label for="input-flight-create"><i class="fa-solid fa-image"></i></label>
                                </div>

                                <div class="pack-hotel-top-2">
                                    <!-- *************************************** -->
                                    <section class="pack-hotel-name-spot">
                                        <div class="pack-hotel-inputDiv">
                                            <label class="pack-hotel-label" for="name">Nombre:</label>
                                            <input class="pack-hotel-input" type="text" id="name" name="name">
                                        </div>
                                        <div class="pack-hotel-inputDiv">
                                            <label class="pack-hotel-label" for="spot">Ubicacion:</label>
                                            <input class="pack-hotel-input" type="text" id="spot" name="spot">
                                        </div>
                                    </section>
                                    <!-- *************************************** -->
                                    <section class="pack-hotel-description">
                                        <div class="pack-hotel-inputDiv">
                                            <label class="pack-hotel-label" for="descriptionH">Agregue una
                                                descripcion:</label>
                                            <input class="pack-hotel-input" type="textarea" name="descriptionH"
                                                id="descriptionH">
                                        </div>
                                    </section>
                                    <!-- *************************************** -->
                                    <section class="pack-hotel-service ">
                                        <div class="pack-hotel-inputDiv">
                                            <label class="pack-hotel-label" for="service">Calidad de servico:</label>
                                            <select name="service" id="service">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                        <div class="pack-hotel-inputDiv">
                                            <label class="pack-hotel-label" for="price">Precio por noche:</label>
                                            <input class="pack-hotel-input" type="number" name="price" id="price">
                                        </div>
                                    </section>
                                    <!-- *************************************** -->

                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="pack-hotel-button">
                        <button class="" type="submit">Crear</button>
                    </div>

                </form>
            </main>

            <%- include('../../partials/footer') %>

    </body>

</html>