<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-choose">
      <div class="choose-main-div">
        <div class="choose-title">
            <h3>Elige una opcion</h3>
        </div>
        <div class="choose-options">
        <a href="/register">Register</a>
        <a href="/loggin">Login</a>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
