<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main class="main-deleteConfirm">
        <div class="choose-main-div">
            <form class="delete-confirm" action="/users/distroy/1?_method=DELETE" method="POST">
              <h3>Estas seguro que quieres eliminar el usuario?</h3>
              <!-- <p>Al eliminar el usuario tiene 30 dias para recuperar la cuenta</p> -->
              <div>
                <a href="/users/profile">Cancelar</a>
                <button type="submit">ELIMINAR</button>
              </div>
            </form>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>