<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %> 

    <main>

        <form class="form-login" id="form-login">

            <h4>Iniciar sesión </h4>

            <h6 class="error-msg" id="errors-email-loggin"></h6>
            
            <input class="controls" value=""  type="email" name="email"  id="email" placeholder="Ingrese su Correo">

            <h6 class="error-msg" id="errors-password-loggin"></h6>
            
            <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
            <label for="remember"> <input id="remember" type="checkbox" name="remember" > Recordarme </label>
            <button id="button-loggin" class="botons">Iniciar sesion</button>
            <p> ¿Se te olvidó tu contraseña?<a href="#"> Click Aqui</a></p>

        </form>

    </main>

    <%- include('../partials/footer') %> 
    
</body>

</html>



