<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>

        <%- include('../../partials/header') %>

            <main>

                <div class="main-flights">


                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>


                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>


                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>


                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>


                    <article class="article-flight">
                        <div class="img-flight">
                            <img src="/images/flights/logo2.jpg" alt="">
                        </div>
                        <div class="info-flight-div">
                            <div class="info-flight-div-1">
                                <h3>Departure</h3>
                                <h3>------></h3>
                                <h3>Reach</h3>
                            </div>
                            <div class="info-flight-div-2">
                                <div class="departure-info">
                                    <div>
                                        <h4>Salida:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">hh:mm</p>
                                    </div>
                                    <section class="date-f"></section>
                                    <div>
                                        <h4>Llegada:</h4>
                                        <p class="date">dd/mm/aaaa</p>
                                        <section class="line-f"></section>
                                        <p class="hour">A confirmar...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cabin-type">
                                <h4>Tipo de Cabina:</h4>
                                <p class="cabin">"Cabina tal"</p>
                            </div>

                            <div class="info-flight-div-5">
                                <p>$ 9999999</p>
                                <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                            </div>
                        </div>
                    </article>


                    

                </div>

            </main>

            <%- include('../../partials/footer') %>

    </body>

</html>