<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>
        <%- include('../../partials/header') %>

            <main>
                <div class="main-div-hotel">

                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>

                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                    <article class="main-article-hotel">
                        <div class="hotel-img">
                            <img src="/images/hotels/logo2.jpg" alt="">
                        </div>
                        <div class="name-hotel">
                            <h3>Name</h3>
                            <div class="service-hotel">
                                <p>Stars</p>
                            </div>
                        </div>
                        <div class="spot-hotel">
                            <p>Spot</p>
                        </div>
                        <div class="price-hotel">
                            <p>$ 9999999</p>
                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                            <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                        </div>
                    </article>


                </div>
            </main>

            <%- include('../../partials/footer') %>
    </body>

</html>