<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>

        <%- include('../../partials/header') %>

            <main>

                <div class="main-packages">

                    <%- include('../../partials/packageArticle') %>

                </div>

            </main>

            <%- include('../../partials/footer') %>

    </body>

</html>