<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-chooseCreate">
      <div class="chooseCreate-main-div">
        <div class="chooseCreate-title">
            <h3>Elige una opcion</h3>
        </div>
        <div class="chooseCreate-options">
        <a class="choose-create-a" href="/products/createFlight">vuelo</a>
        <a class="choose-create-a" href="/products/createHotel">Hotel</a>
        <a class="choose-create-a" href="/products/createPackage">Paquete</a>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
