<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>
            <main class="cart-main">

                <section class="cart-flight-section">
                    <h2>Vuelos</h2>

                    <div class="cart-article-flight-div">
                        <div class="cart-tools-flight">
                            <div class="cart-add-subtract-item-f">
                                <p class="cart-subtract-item-f"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                <p class="cart-number-item-f">1</p>
                                <p class="cart-add-item-f"><i class="fa-solid fa-plus"></i></p>
                            </div>
                            <div class="cart-delete-item-f">
                                <p><i class="fa-solid fa-trash"></i></p>
                            </div>
                        </div>
                        <article class="cart-article-flight">
                            <div class="img-flight">
                                <img src="/images/flights/logo2.jpg" alt="">
                            </div>
                            <div class="info-flight-div">
                                <div class="info-flight-div-1">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="info-flight-div-2">
                                    <div class="departure-info">
                                        <div>
                                            <h4>Salida:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">hh:mm</p>
                                        </div>
                                        <section class="date-f"></section>
                                        <div>
                                            <h4>Llegada:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">A confirmar...</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cabin-type">
                                    <h4>Tipo de Cabina:</h4>
                                    <p class="cabin">"Cabina tal"</p>
                                </div>

                                <div class="info-flight-div-5">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cart-article-flight-div">
                        <div class="cart-tools-flight">
                            <div class="cart-add-subtract-item-f">
                                <p class="cart-subtract-item-f"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                <p class="cart-number-item-f">1</p>
                                <p class="cart-add-item-f"><i class="fa-solid fa-plus"></i></p>
                            </div>
                            <div class="cart-delete-item-f">
                                <p><i class="fa-solid fa-trash"></i></p>
                            </div>
                        </div>
                        <article class="cart-article-flight">
                            <div class="img-flight">
                                <img src="/images/flights/logo2.jpg" alt="">
                            </div>
                            <div class="info-flight-div">
                                <div class="info-flight-div-1">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="info-flight-div-2">
                                    <div class="departure-info">
                                        <div>
                                            <h4>Salida:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">hh:mm</p>
                                        </div>
                                        <section class="date-f"></section>
                                        <div>
                                            <h4>Llegada:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">A confirmar...</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cabin-type">
                                    <h4>Tipo de Cabina:</h4>
                                    <p class="cabin">"Cabina tal"</p>
                                </div>

                                <div class="info-flight-div-5">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cart-article-flight-div">
                        <div class="cart-tools-flight">
                            <div class="cart-add-subtract-item-f">
                                <p class="cart-subtract-item-f"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                <p class="cart-number-item-f">1</p>
                                <p class="cart-add-item-f"><i class="fa-solid fa-plus"></i></p>
                            </div>
                            <div class="cart-delete-item-f">
                                <p><i class="fa-solid fa-trash"></i></p>
                            </div>
                        </div>
                        <article class="cart-article-flight">
                            <div class="img-flight">
                                <img src="/images/flights/logo2.jpg" alt="">
                            </div>
                            <div class="info-flight-div">
                                <div class="info-flight-div-1">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="info-flight-div-2">
                                    <div class="departure-info">
                                        <div>
                                            <h4>Salida:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">hh:mm</p>
                                        </div>
                                        <section class="date-f"></section>
                                        <div>
                                            <h4>Llegada:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">A confirmar...</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cabin-type">
                                    <h4>Tipo de Cabina:</h4>
                                    <p class="cabin">"Cabina tal"</p>
                                </div>

                                <div class="info-flight-div-5">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cart-article-flight-div">
                        <div class="cart-tools-flight">
                            <div class="cart-add-subtract-item-f">
                                <p class="cart-subtract-item-f"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                <p class="cart-number-item-f">1</p>
                                <p class="cart-add-item-f"><i class="fa-solid fa-plus"></i></p>
                            </div>
                            <div class="cart-delete-item-f">
                                <p><i class="fa-solid fa-trash"></i></p>
                            </div>
                        </div>
                        <article class="cart-article-flight">
                            <div class="img-flight">
                                <img src="/images/flights/logo2.jpg" alt="">
                            </div>
                            <div class="info-flight-div">
                                <div class="info-flight-div-1">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="info-flight-div-2">
                                    <div class="departure-info">
                                        <div>
                                            <h4>Salida:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">hh:mm</p>
                                        </div>
                                        <section class="date-f"></section>
                                        <div>
                                            <h4>Llegada:</h4>
                                            <p class="date">dd/mm/aaaa</p>
                                            <section class="line-f"></section>
                                            <p class="hour">A confirmar...</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cabin-type">
                                    <h4>Tipo de Cabina:</h4>
                                    <p class="cabin">"Cabina tal"</p>
                                </div>

                                <div class="info-flight-div-5">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                </section>

                <section class="cart-hotel-section">
                    <h2>Hoteles</h2>
                    <div class="cart-hotel-div">

                        <div class="cart-article-hotel-div">

                            <article class="cart-article-hotel">
                                <div class="hotel-img">
                                    <img src="/images/hotels/logo2.jpg" alt="">
                                </div>
                                <div class="name-hotel">
                                    <h3>Name</h3>
                                    <div class="service-hotel">
                                        <p>Stars</p>
                                    </div>
                                </div>
                                <div class="spot-hotel">
                                    <p>Spot</p>
                                </div>
                                <div class="price-hotel">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </article>

                            <div class="cart-tools-hotel">
                                <div class="cart-add-subtract-item-h">
                                    <p class="cart-subtract-item-h"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                    <p class="cart-number-item-h">1</p>
                                    <p class="cart-add-item-h"><i class="fa-solid fa-plus"></i></p>
                                </div>
                                <div class="cart-delete-item-h">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                        <div class="cart-article-hotel-div">

                            <article class="cart-article-hotel">
                                <div class="hotel-img">
                                    <img src="/images/hotels/logo2.jpg" alt="">
                                </div>
                                <div class="name-hotel">
                                    <h3>Name</h3>
                                    <div class="service-hotel">
                                        <p>Stars</p>
                                    </div>
                                </div>
                                <div class="spot-hotel">
                                    <p>Spot</p>
                                </div>
                                <div class="price-hotel">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </article>

                            <div class="cart-tools-hotel">
                                <div class="cart-add-subtract-item-h">
                                    <p class="cart-subtract-item-h"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                    <p class="cart-number-item-h">1</p>
                                    <p class="cart-add-item-h"><i class="fa-solid fa-plus"></i></p>
                                </div>
                                <div class="cart-delete-item-h">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                        <div class="cart-article-hotel-div">

                            <article class="cart-article-hotel">
                                <div class="hotel-img">
                                    <img src="/images/hotels/logo2.jpg" alt="">
                                </div>
                                <div class="name-hotel">
                                    <h3>Name</h3>
                                    <div class="service-hotel">
                                        <p>Stars</p>
                                    </div>
                                </div>
                                <div class="spot-hotel">
                                    <p>Spot</p>
                                </div>
                                <div class="price-hotel">
                                    <p>$ 9999999</p>
                                    <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                    <a href=""><i class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                </div>
                            </article>

                            <div class="cart-tools-hotel">
                                <div class="cart-add-subtract-item-h">
                                    <p class="cart-subtract-item-h"><i class="fa-sharp fa-solid fa-minus"></i></p>
                                    <p class="cart-number-item-h">1</p>
                                    <p class="cart-add-item-h"><i class="fa-solid fa-plus"></i></p>
                                </div>
                                <div class="cart-delete-item-h">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="cart-package-section">
                    <h2>Paquetes</h2>
                    <div class="cart-package-div">

                        <div class="cart-article-package-div">

                            <article class="cart-package-article">

                                <div class="Departure-reach-pack">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="second-pack-main-div">

                                    <div class="img-div-pack">
                                        <img src="/images/hotels/logo2.jpg" alt="">
                                    </div>

                                    <div class="main-pack-info">
                                        <div class="info-pack-div-2">
                                            <div class="departure-info-pack">
                                                <div>
                                                    <h4>Salida:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">hh:mm</p>
                                                </div>
                                                <section class="date-f"></section>
                                                <div>
                                                    <h4>Llegada:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">A confirmar...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="cabin-type">
                                            <h4>Tipo de Cabina:</h4>
                                            <p class="cabin">"Cabina tal"</p>
                                        </div>

                                        <div class="hotel-info-start">
                                            <h5>HOTEL</h5>
                                        </div>

                                        <div class="name-hotel-pack">
                                            <h3>Name</h3>
                                            <div class="service-hotel-pack">
                                                <p>Stars</p>
                                            </div>
                                        </div>
                                        <div class="spot-hotel">
                                            <p>Spot</p>
                                        </div>

                                        <div class="info-pack-div-5">
                                            <p>$ 9999999</p>
                                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                            <a href=""><i
                                                    class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <div class="cart-tools-package">
                                <div class="cart-tools-package-top">
                                    <div class="cart-tools-package-specification">
                                        <p>Noches:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>
                                    <div class="cart-tools-package-specification">
                                        <p>Personas:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="cart-delete-item-p">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                        <div class="cart-article-package-div">

                            <article class="cart-package-article">

                                <div class="Departure-reach-pack">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="second-pack-main-div">

                                    <div class="img-div-pack">
                                        <img src="/images/hotels/logo2.jpg" alt="">
                                    </div>

                                    <div class="main-pack-info">
                                        <div class="info-pack-div-2">
                                            <div class="departure-info-pack">
                                                <div>
                                                    <h4>Salida:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">hh:mm</p>
                                                </div>
                                                <section class="date-f"></section>
                                                <div>
                                                    <h4>Llegada:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">A confirmar...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="cabin-type">
                                            <h4>Tipo de Cabina:</h4>
                                            <p class="cabin">"Cabina tal"</p>
                                        </div>

                                        <div class="hotel-info-start">
                                            <h5>HOTEL</h5>
                                        </div>

                                        <div class="name-hotel-pack">
                                            <h3>Name</h3>
                                            <div class="service-hotel-pack">
                                                <p>Stars</p>
                                            </div>
                                        </div>
                                        <div class="spot-hotel">
                                            <p>Spot</p>
                                        </div>

                                        <div class="info-pack-div-5">
                                            <p>$ 9999999</p>
                                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                            <a href=""><i
                                                    class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <div class="cart-tools-package">
                                <div class="cart-tools-package-top">
                                    <div class="cart-tools-package-specification">
                                        <p>Noches:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>
                                    <div class="cart-tools-package-specification">
                                        <p>Personas:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="cart-delete-item-p">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                        <div class="cart-article-package-div">

                            <article class="cart-package-article">

                                <div class="Departure-reach-pack">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="second-pack-main-div">

                                    <div class="img-div-pack">
                                        <img src="/images/hotels/logo2.jpg" alt="">
                                    </div>

                                    <div class="main-pack-info">
                                        <div class="info-pack-div-2">
                                            <div class="departure-info-pack">
                                                <div>
                                                    <h4>Salida:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">hh:mm</p>
                                                </div>
                                                <section class="date-f"></section>
                                                <div>
                                                    <h4>Llegada:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">A confirmar...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="cabin-type">
                                            <h4>Tipo de Cabina:</h4>
                                            <p class="cabin">"Cabina tal"</p>
                                        </div>

                                        <div class="hotel-info-start">
                                            <h5>HOTEL</h5>
                                        </div>

                                        <div class="name-hotel-pack">
                                            <h3>Name</h3>
                                            <div class="service-hotel-pack">
                                                <p>Stars</p>
                                            </div>
                                        </div>
                                        <div class="spot-hotel">
                                            <p>Spot</p>
                                        </div>

                                        <div class="info-pack-div-5">
                                            <p>$ 9999999</p>
                                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                            <a href=""><i
                                                    class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <div class="cart-tools-package">
                                <div class="cart-tools-package-top">
                                    <div class="cart-tools-package-specification">
                                        <p>Noches:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>
                                    <div class="cart-tools-package-specification">
                                        <p>Personas:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="cart-delete-item-p">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                        <div class="cart-article-package-div">

                            <article class="cart-package-article">

                                <div class="Departure-reach-pack">
                                    <h3>Departure</h3>
                                    <h3>------></h3>
                                    <h3>Reach</h3>
                                </div>
                                <div class="second-pack-main-div">

                                    <div class="img-div-pack">
                                        <img src="/images/hotels/logo2.jpg" alt="">
                                    </div>

                                    <div class="main-pack-info">
                                        <div class="info-pack-div-2">
                                            <div class="departure-info-pack">
                                                <div>
                                                    <h4>Salida:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">hh:mm</p>
                                                </div>
                                                <section class="date-f"></section>
                                                <div>
                                                    <h4>Llegada:</h4>
                                                    <p class="date-pack">dd/mm/aaaa</p>
                                                    <section class="line-f"></section>
                                                    <p class="hour-pack">A confirmar...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="cabin-type">
                                            <h4>Tipo de Cabina:</h4>
                                            <p class="cabin">"Cabina tal"</p>
                                        </div>

                                        <div class="hotel-info-start">
                                            <h5>HOTEL</h5>
                                        </div>

                                        <div class="name-hotel-pack">
                                            <h3>Name</h3>
                                            <div class="service-hotel-pack">
                                                <p>Stars</p>
                                            </div>
                                        </div>
                                        <div class="spot-hotel">
                                            <p>Spot</p>
                                        </div>

                                        <div class="info-pack-div-5">
                                            <p>$ 9999999</p>
                                            <a href=""><i class="fa-solid fa-plane-up add-cart-flight"></i></a>
                                            <a href=""><i
                                                    class="fa-solid fa-plane-circle-check added-cart-flight"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <div class="cart-tools-package">
                                <div class="cart-tools-package-top">
                                    <div class="cart-tools-package-specification">
                                        <p>Noches:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>
                                    <div class="cart-tools-package-specification">
                                        <p>Personas:</p>
                                        <div class="cart-add-subtract-item-p">
                                            <p class="cart-subtract-item-p"><i class="fa-sharp fa-solid fa-minus"></i>
                                            </p>
                                            <p class="cart-number-item-p">1</p>
                                            <p class="cart-add-item-p"><i class="fa-solid fa-plus"></i></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="cart-delete-item-p">
                                    <p><i class="fa-solid fa-trash"></i></p>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="cart-button-section">
                    <div class="cart-total">
                        <p>Total:</p>
                        <p class="cart-total-numb">$999999</p>
                    </div>
                    <div class="cart-buttons">
                        <button class="cart-button-delete">Eliminar Carrito</button>
                    <button class="cart-button-buy">Comprar Carrito</button>
                    </div>
                </section>
            </main>


            <%- include('../partials/footer') %>

    </body>

</html>